body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    color: white
}

header {
    background-color: red;
    color: white;
    padding: 1rem;
    text-align: center;
}

h1 {
    font-size: 32px;
    color: black;
    text-align: center;
    margin-top: 20px;
}

nav {
    background-color: darkred;
    overflow: hidden;
    text-align: center;
}

nav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: red;
}

nav b {
    color: black;
    padding: 0 1rem;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: 20px auto;
    background-color: rgb(19, 18, 18);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 15px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: white;
}

th {
    background-color: red;
    color: white;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}

img {
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.titulo-secundario {
    color: white;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.livro {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: black;
    margin: 10px 0;
}

#p-index{
    font-size: 16px;
    line-height: 1.6;
    color: white;
    margin: 10px 0;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

li {
    margin: 5px 0;
    font-size: 16px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    min-height: 80px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #219150;
}